<%- include('header') -%>

<div class="container">
    <ul class="results" id="results">
        <li>Origin: <%= originAddress %></li>
        <li>Destination: <%= destinationAddress %></li>
        <li>Distance: <%= miles %></li>
    </ul>
    </ul>
</div>



<%- include('footer') -%>